<nav class="navbar nav-bar sticky-top" style="background-color: #3afbb2;">
  <i class="fa-solid fa-house nav-icons fa-xl"></i>
  <%= button_to "", destroy_user_session_path, {method: :delete, class: "fa-solid fa-door-open nav-icons app-button"} %> 
</nav>
